[submodule "Userland/Apps/MicroPython"]
	path = Userland/Apps/MicroPython
	url = git@github.com:CodeMajorGeek/TheOS-Reborn.git
	branch = submodules/micropython-theos
[submodule "Userland/Libraries/EasyArgs"]
	path = Userland/Libraries/EasyArgs
	url = https://github.com/gouwsxander/easy-args.git
[submodule "Userland/Apps/embeddedDOOM"]
	path = Userland/Apps/embeddedDOOM
	url = git@github.com:CodeMajorGeek/TheOS-Reborn.git
	branch = submodules/embeddeddoom-theos
