[submodule "Userland/Apps/TheMicroPython"]
	path = Userland/Apps/TheMicroPython
	url = git@github.com:CodeMajorGeek/TheMicroPython.git
	shallow = true
[submodule "Userland/Libraries/TheEasyArgs"]
	path = Userland/Libraries/TheEasyArgs
	url = git@github.com:CodeMajorGeek/TheEasyArgs.git
	shallow = true
[submodule "Userland/Apps/TheEmbeddedDOOM"]
	path = Userland/Apps/TheEmbeddedDOOM
	url = git@github.com:CodeMajorGeek/TheEmbeddedDOOM.git
	shallow = true
[submodule "Userland/Apps/TheVim"]
	path = Userland/Apps/TheVim
	url = https://github.com/CodeMajorGeek/TheVim.git
	shallow = true
